.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-right: -16px;
}

.item {
  flex: 1;
  margin-right: 16px;
  padding: 80px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 0 1px black;
  font-size: 32px;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover{

}
